{{ define "main" }}
<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Bem vinde!</h1>
      <p>Acompanhe o desafio </p> 
    </p> <code>#100diasfazendo</code> </p> 
  </p>engajaflix! </p>
  <hr>
      <p>Esse site é um arquivo/diário de bordo  <p>
        <p>de set/06 a dez/07, onde todos os dias <p>
        <p>Julia Travieso posta uma etapa do </p> 
        <p>processo de colocar engajaflix no  </p> 
      </p> mundo por pelo menos 100 dias. </p>
      <div align="center">
          <a class="read-more button" href="/timeline">Acompanhar → </a>
        </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
