{{ define "main" }}
<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Bem vinde!</h1>
      <p>Acompanhe o desafio </p> 
    </p> <code>#100diasfazendo</code> </p> 
  </p>engajaflix! </p>
  <hr>
      <p>Esse site é um arquivo/diário de bordo de <p>
        <p>set/06 a dez/07, onde todos os dias Julia<p>
        <p>Travieso posta uma etapa do processo</p> 
        <p>de colocar engajaflix no mundo por </p> 
      </p> pelo menos 100 dias. </p>
      <div align="center">
          <a class="read-more button" href="/timeline">Acompanhar → </a>
        </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
